@{
    ViewBag.Title = "Home Page";
}

<div class="col-home">
    <div class="col-left" id="left-content">
        Left content - 
    </div>
    <div class="col-right" id="right-content">
        Right content - 
    </div>
</div>